<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>My Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo"><i class="fas fa-utensils"></i>resto.</a>
      <nav class="navbar">
        <a class="active" href="#home">home</a> 
        <a href="#dishes">dishes</a>
        <a href="#about">about</a>
        <a href="#menu">menu</a>
        <a href="#review">review</a>
        <a href="#order">order</a>
      </nav>
      <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
      </div>
    </header>
    <form action="" id="search-form">
      <input type="search" placeholder="Restaurante, tipo de comida..." name="" id="search-box">
      <label for="search-box" class="fas fa-search"></label>
      <i class="fas fa-times" id="close"></i>
    </form>

    <section class="home" id="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide slide">
            <div class="content">
              <span>our special dishes</span>
              <h3>spicy noodles</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
              <a href="#" class="btn">order now</a>
            </div>
            <div class="image">
              <img src="/images/home-img-1.png" alt="">
            </div>
          </div>
          <div class=" swiper-slide slide">
            <div class="content">
              <span>our special dishes</span>
              <h3>fried chicken</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
              <a href="#" class="btn">order now</a>
            </div>
            <div class="image">
              <img src="/images/home-img-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide slide">
            <div class="content">
              <span>our special dishes</span>
              <h3>hot pizza</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
              <a href="#" class="btn">order now</a>
            </div>
            <div class="image">
              <img src="/images/home-img-3.png" alt="">
            </div>
          </div>
        </div>
      <div class="swiper-pagination"></div>
      </div>
    </section>

    <section class="dishes" id="dishes">
      <h3 class="sub-heading">our dishes</h3>
      <h1 class="heading">popular dishes</h1>
      <div class="box-container">
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-1.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-2.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-3.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-4.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-5.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <a href="" class="fas fa-heart"></a>
          <a href="" class="fas fa-eye"></a>
          <img src="/images/dish-6.png" alt="">
          <h3>tasty food</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <h3 class="sub-heading"> about us </h3>
      <h1 class="heading"> why choose us? </h1>
      <div class="row">
        <div class="image">
          <img src="/images/about-img.png" alt="">
        </div>
        <div class="content">
          <h3>best food in the country</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum suscipit vel perferendis esse iste blanditiis quidem. Neque numquam doloremque omnis obcaecati natus ipsam laborum ex! Voluptates officiis totam nihil recusandae!</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit placeat ex dolor rerum animi eaque sunt. Sapiente placeat neque harum.</p>
          <div class="icons-container">
            <div class="icons">
              <i class="fas fa-shipping-fast"></i>
              <span>free delivery</span>
            </div>
            <div class="icons">
              <i class="fas fa-dollar-sign"></i>
              <span>easy payments</span>
            </div>
            <div class="icons">
              <i class="fas fa-headset"></i>
              <span>24/7 service</span>
            </div>
            <a href="#" class="btn">learn more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="menu" id="menu">
      <h3 class="sub-heading"> our menu </h3>
      <h1 class="heading"> today's speciality </h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/menu-1.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-2.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-3.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-4.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-5.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-6.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-7.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-8.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="/images/menu-9.jpg" alt="">
            <a href="" class="fas fa-heart"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>delicius food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, illum!</p>
            <a href="" class="btn">add to cart</a>
            <span class="price">$12.99</span>
          </div>
        </div>
      </div>
    </section>

    <section class="review" id="review">
      <h3 class="sub-heading"> customer's review </h3>
      <h1 class="heading"> what they say </h1>
      <!-- <div class="swiper-container review-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <i class="fas fa-quote-right"></i>
            <div class="user">
              <img src="images/pic-1.png" alt="">
              <div class="user-info">
                <h3>john deo</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo corrupti qui, fugiat quo ullam iste deleniti enim perspiciatis quis impedit soluta beatae ratione iusto laboriosam debitis at? Laudantium, natus perspiciatis?</p>
          </div>
          <div class="swiper-slide slide">
            <i class="fas fa-quote-right"></i>
            <div class="user">
              <img src="images/pic-2.png" alt="">
              <div class="user-info">
                <h3>john deo</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo corrupti qui, fugiat quo ullam iste deleniti enim perspiciatis quis impedit soluta beatae ratione iusto laboriosam debitis at? Laudantium, natus perspiciatis?</p>
          </div>
          <div class="swiper-slide slide">
            <i class="fas fa-quote-right"></i>
            <div class="user">
              <img src="images/pic-3.png" alt="">
              <div class="user-info">
                <h3>john deo</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo corrupti qui, fugiat quo ullam iste deleniti enim perspiciatis quis impedit soluta beatae ratione iusto laboriosam debitis at? Laudantium, natus perspiciatis?</p>
          </div>
          <div class="swiper-slide slide">
            <i class="fas fa-quote-right"></i>
            <div class="user">
              <img src="images/pic-4.png" alt="">
              <div class="user-info">
                <h3>john deo</h3>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo corrupti qui, fugiat quo ullam iste deleniti enim perspiciatis quis impedit soluta beatae ratione iusto laboriosam debitis at? Laudantium, natus perspiciatis?</p>
          </div>
        </div>
      </div> -->
    </section>

    <!-- <div class="loader-container">
      <img src="images/loader.gif" alt="">
    </div> -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>